@use "base" as *;
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

$font-header: "Big Shoulders Display", sans-serif;
$font-body: "Outfit", sans-serif;

@mixin font-size($font-size, $line-height: normal, $font-weight: 900) {
  font-size: toRem($font-size);

  @if $line-height != normal {
    line-height: toRem($line-height);
  }

  @if $font-weight != normal {
    font-weight: $font-weight;
  }
}

h1,
h2,
h3,
a {
  font-family: $font-header;
  text-transform: uppercase;
}

p {
  font-family: $font-body;
  color: $grey;
}

h1 {
  @include font-size(60, 55);
  color: $dark;

  @include mq(tablet) {
    @include font-size(70, 65);
  }

  @include mq(desktop) {
    @include font-size(96, 88);
  }
}

.location h1 {
  @include font-size(50, 45);

  @include mq(tablet) {
    @include font-size(55, 50);
  }

  @include mq(desktop) {
    @include font-size(70, 70);
  }
}

h2 {
  @include font-size(50, 45);

  @include mq(desktop) {
    @include font-size(60, 60);
  }
}

.location h2 {
  @include font-size(32, 32);
  color: $color;

  @include mq(desktop) {
    @include font-size(36, 36);
  }
}

h3 {
  @include font-size(20, 20);
  color: $white;

  @include mq(desktop) {
    @include font-size(30, 30);
  }
}

p {
  @include font-size(18, 28, 400);

  @include mq(desktop) {
    @include font-size(22, 32);
  }
}

footer p {
  @include font-size(16, 26);
  color: $white;

  @include mq(desktop) {
    @include font-size(18, 28);
  }
}
